.ContainerTop {
  background-color: #ffc75f;
  margin: 0;
  padding-top: 10em;
}

.TranslateHistory {
  width: 80%;
  margin-top: -5em;
  font-family: "Sanchez", serif;
  padding: 2%;
  border: 8px solid black;
  border-radius: 8px;
  padding-bottom: 2em;
}

.RowHeader {
  padding-bottom: 2%;
  font-family: "Love Ya Like A Sister", cursive;
}
