.ContainerStart {
  display: flex;
  justify-content: center;
  background-color: #ffc75f;
  padding: 4%;
  padding-bottom: 8em;
}

.ColLeft {
  text-align: center;
  
}

.ColRight {
  
  align-self: center;
  color: white;
 
}
h2 {
    white-space: nowrap;
  font-family: "Love Ya Like A Sister", cursive;
  
}
p {
  font-size: 1.5em;
  font-family: "Sanchez", serif;
}
