.ButtonLogin{
    
    border: 1px solid #ced4da;
    border-left: none;
    background-color: white;
}
.ButtonLogin:hover{
    background-color:lightgray;
    border: 1px solid #ced4da;

}

.LoginFormContainer {
    justify-content: center;
    margin-top: -3em;
    
    
}

.InputGroup {
    border: 8px solid black;
    border-radius: 8px;
    margin: 1px;
}