body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Sanchez", serif, "Love Ya Like A Sister", cursive, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
